@import url('../../node_modules/@picocss/pico/css/pico.lime.min.css');

/* Global styles */

.center {
  text-align: center;
  margin: 0 auto;
  margin-bottom: var(--pico-typography-spacing-vertical);
}

body>svg {
  display: none;
}

span.icon>svg {
  width: 1rem;
  height: 1rem;
  vertical-align: text-top;
}

:is(p):has(img) {
  text-align: center;
}

.strava-wrapper :first-child {
  margin: 0 auto;
  margin-bottom: var(--pico-typography-spacing-vertical);
}
