---
import PostLink from '../../components/PostLink.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { loadAndFormatPostsCollection } from '../../lib/collection';

export async function getStaticPaths() {
  const allPosts: any[] = await loadAndFormatPostsCollection();

  const uniqueTags = [...new Set(allPosts.map((post) => post.data.tags).flat())];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) => post.data.tags.includes(tag));
    return {
      params: { tag },
      props: {
        posts: filteredPosts,
      },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag.toLocaleUpperCase()}>
  <p>Posty z etykietą <strong>{tag}</strong></p>
  <ul>
    {
      posts.map((post: any): any => (
        <li>
          <PostLink post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
