---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Informacje';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Ogólnie</h2>
  <p>
    Jarek Zgoda, rocznik 1971. W branży programistycznej robię od 1996 roku, co oznacza
    że wiele rzeczy już widziałem i z niejedną technologią się zmagałem. Powtarzając za
    <a href="https://en.wikipedia.org/wiki/Tears_in_rain_monologue"
      >Royem Batty z filmu Blade Runner (Łowca Androidów)</a
    >: <em>I've seen things you people wouldn't believe</em>. Dlatego dziś bardzo
    podejrzliwie podchodzę do każdej technologicznej nowinki i oglądam je bardzo uważnie
    z każdej strony. I zapewne dlatego łatwo jest mnie określić jako <em
      >zgorzkniałego grzyba</em
    >.
  </p>
  <p>
    W pracy (i hobbistycznie) robię głównie w Pythonie. Wyłącznie w Pythonie zacząłem
    robić zawodowo w 2007 roku, a trochę w tym języku robiłem już od roku 2005 - na
    AS/400 był to Python 2.3, a na Windows 2.4. Widziałem po drodze kawał historii tego
    języka. Przedtem był Turbo Pascal (7 w połowie lat 90-tych), Delphi (wersje 3 do 7)
    oraz Java.
  </p>
  <p>
    Od roku 2000 jestem <em>linuksiarzem</em>, początkowo częściowym, a od 2004 roku
    całkowitym. Moją pierwszą dystrybucją Linuksa <em>w ogóle</em> był RedHat 5.2, a
    pierwszą używaną jako wyłączny system operacyjny na desktopie było Slackware 10.0.
    Nie trwało to długo, bo już w 2005 roku przesiadłem się na Ubuntu 5.04 i od tej pory
    jestem tej dystrybucji wierny &mdash; przynajmniej na desktopie (miałem w pracy
    kilkunastomiesięczny epizod z Debianem Etch, ale to nie był mój prywatny komputer).
  </p>
  <p>
    Niektórzy twierdzą, że mam przebłyski talentu do snucia opowieści, ale udaje mi się
    to jedynie w piśmie. Czasem coś mnie napada i wtedy piszę coś w stylu krótkiej
    opowieści, tak jakby ktoś ją opowiadał w gronie znajomych, ale do tego potrzebuję
    dużo, dużo wolnego czasu &mdash; i zupełnie nic innego do roboty. Charakterystyka
    mojej pracy sprawia, że co jakiś czas wyjeżdżam na trochę za granicę, gdzie ten czas
    i brak zajęć właśnie występuje. Ale to się rzadko zdarza, więc mój dorobek literacki
    jest bardzo skromny.
  </p>
  <h2>Ciutkę od strony technicznej</h2>
  <p>
    Tak, wiem że imgur to zło i że śledzi użytkowników. Proszę sobie zainstalować w
    przeglądarce antyśledzika np. <a href="https://privacybadger.org/">Privacy Badger</a
    >, to zrobi dobrze nie tylko na mojej stronie. Może kiedyś Amazon znowu będzie miał
    darmową ofertę na S3, ale póki co musi wystarczyć imgur.
  </p>
</BaseLayout>
