---
import { loadAndFormatPostsCollection } from '../lib/collection';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostLink from '../components/PostLink.astro';
const allPosts: any[] = await loadAndFormatPostsCollection();
const pageTitle = 'Artykuły w blogu';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Chronologicznie posortowane wpisy w blogu.</p>
  <ul>
    {
      allPosts.map((post) => (
        <li>
          <PostLink post={post} />
        </li>
      ))
    }
  </ul>
</BaseLayout>
