---
import { loadAndFormatPostsCollection } from '../lib/collection';
import BaseLayout from '../layouts/BaseLayout.astro';
import PostPreview from '../components/PostPreview.astro';
const allPosts: any[] = await loadAndFormatPostsCollection();
const pageTitle = 'Artykuły w blogu';
---

<BaseLayout pageTitle={pageTitle}>
  <p>Chronologicznie posortowane wpisy w blogu.</p>
  {allPosts.map((post) => <PostPreview post={post} />)}
</BaseLayout>
