---
import BaseLayout from '../layouts/BaseLayout.astro';
import { loadAndFormatPostsCollection } from '../lib/collection';
import PostPreview from '../components/PostPreview.astro';
const pageTitle = 'Jarek Zgoda - strona prywatna';

const newestPosts: any[] = await loadAndFormatPostsCollection(10);
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Jak się człowiek spieszy to się diabeł cieszy, nie?</h2>
  <p>Kilka najnowszych postów w blogu</p>
  {newestPosts.map((post) => <PostPreview post={post} />)}
</BaseLayout>
