---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = 'Jarek Zgoda - strona prywatna';
---

<BaseLayout pageTitle={pageTitle}>
  <h2>Jak się człowiek spieszy to się diabeł cieszy, nie?</h2>
</BaseLayout>
