---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'Bardziej i mniej przydatne linki';
---

<BaseLayout pageTitle={pageTitle}>
  <p>
    Kolekcja linków do narzędzi, które kiedyś mi się przydały. Nie weryfikuję na bieżąco
    ich aktualności, więc może się zdarzyć że któryś z nich będzie prowadził w kosmos.
    Takie jest smutne życie w internecie.
  </p>
</BaseLayout>
