<nav>
  <ul>
    <li><a href="/" data-astro-prefetch>Początek</a></li>
    <li><a href="/blog/pages" data-astro-prefetch>Blog</a></li>
    <li><a href="/blog/tags" data-astro-prefetch>Etykiety</a></li>
    <li><a href="/blog/archive" data-astro-prefetch>Archiwum</a></li>
    <li><a href="/links" data-astro-prefetch>Linki</a></li>
    <li><a href="/about" data-astro-prefetch>Informacje</a></li>
  </ul>
</nav>

<style>
  nav ul {
    flex-wrap: wrap;
  }
</style>
