<nav>
  <ul>
    <li><a href="/" data-astro-prefetch>Początek</a></li>
    <li><a href="/posts" data-astro-prefetch>Blog</a></li>
    <li><a href="/tags/" data-astro-prefetch>Etykiety</a></li>
    <li><a href="/about/" data-astro-prefetch>Informacje</a></li>
  </ul>
</nav>
