---
interface Props {
  post: any;
  title?: string;
}

const { post, title } = Astro.props;

const linkTitle =
  title ??
  `(${post.data.pubDate.toLocaleDateString('pl-PL', { year: 'numeric', month: '2-digit', day: '2-digit' })}) ${post.data.title}`;
---

<p><a href={`/blog/${post.id}`} data-astro-prefetch> {linkTitle}</a></p>
