---
import { loadAndFormatPostsCollection } from '../lib/collection';

const allPosts = await loadAndFormatPostsCollection();
const archive = new Map<number, number>();
allPosts.forEach((post) => {
  const year = post.data.pubDate.getFullYear();
  let yearCount = archive.get(year) || 0;
  yearCount = yearCount + 1;
  archive.set(year, yearCount);
});
const years = Array.from(archive.keys()).sort().reverse();
---

<div class="years">
  {
    years.map((year) => (
      <p class="year">
        <a href={`/blog/${year}`} data-astro-prefetch>
          {year} ({archive.get(year)})
        </a>
      </p>
    ))
  }
</div>

<style>
  a {
    color: #00539f;
    text-decoration: none;
  }

  .years {
    margin-bottom: var(--pico-typography-spacing-vertical);
  }

  .year {
    margin: 0.25em;
    padding: 0.5em 1em;
    font-size: 1.15em;
  }
</style>
