---
import OldPostWarning from '../components/OldPostWarning.astro';
import BaseLayout from './BaseLayout.astro';

const { frontmatter } = Astro.props;

const isOld =
  (new Date().getTime() - frontmatter.pubDate.getTime()) * 1000 * 60 * 60 * 24 > 720;
---

<BaseLayout pageTitle={frontmatter.title}>
  <slot name="head" slot="head" />
  {isOld ? <OldPostWarning /> : ''}
  <p>Autor: {frontmatter.author}</p>
  <p>Data publikacji: {frontmatter.pubDate.toLocaleDateString('pl-PL')}</p>
  <div class="tags">
    {
      frontmatter.tags.sort().map((tag: string) => (
        <p class="tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
  <slot />
</BaseLayout>

<style>
  a {
    color: #00539f;
  }

  .tags {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--typography-spacing-vertical);
  }

  .tag {
    margin: 0.25em;
    border: dotted 1px #a1a1a1;
    border-radius: 0.5em;
    padding: 0.25em 0.5em;
    font-size: 0.75em;
    background-color: #f8fcfd;
  }
</style>
